@layout('layouts.main')

@section('extracss')
    {{ style('style/forms') }}
@endsection

@section('title')
    Shopping Cart
@endsection

@section('content')
    <h1>Shopping Cart!</h1>
    
@endsection
