@layout('layouts.main')

@section('title')
    Create
@endsection

@section('content')
    <h1>Create</h1>
    <form action="">
        <input type="email" name="" id="">
        <input type="password" name="" id="">
        <input type="text">
        <input type="tel" name="" id="">
    </form>
@endsection


